---
import type { GetStaticPaths } from "astro";
import Shape from "@components/Shape.astro";
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import BlogSingle from "@layouts/BlogSingle.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import Blockquotek from "@shortcodes/Blockquote";
import products_data from '../../../../src/data/products.json';


function get_product_data_by_id({ id }) {
  // Importa el archivo JSON directamente (asegúrate de que la ruta sea correcta)
  let int_id = parseInt(id)
  // Busca el producto por el ID
  const product = products_data.find((product) => product.id_product === int_id);

  // Devuelve el producto si se encuentra, o null si no hay coincidencia
  return product || null;
}

const { id } = Astro.params;

let data_by_id

if (id) {
  data_by_id = get_product_data_by_id({id});
}


export const getStaticPaths = (() => {
  const all_products = products_data;
  const allProducts = all_products.map((product) => ({
    params: {
      id: product.id_product,
      category: product.category
    }
  }));
  return allProducts
});
---

<h1>
  {data_by_id.id_product}
  {data_by_id.category}
</h1>
